doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title= title
        link(rel="stylesheet", href="/bootstrap/css/bootstrap.min.css")
    body
        div(class='container')
            header(class='header')
                div(class='container-fluid')
                    h1 Mahasiswa
            nav(class='navbar navbar-default')
                button(class="navbar-toggle collapsed" data-toggle="collapse" data-target="#naff")
                    span(class='icon-bar')
                    span(class='icon-bar')
                    span(class='icon-bar')
                div(class="collapse navbar-collapse" id="naff")
                    ul(class='nav navbar-nav')
                        li
                            a(href='/demo') Home
                        li
                            a Kategori
                        li
                            a About
                    form(class='navbar-form navbar-right')
                        div(class='form-group')
                            input(type="text" class='form-control' placeholder='Cari...')
                            button(type='submit' class='btn btn-info')
                                span(class='glyphicon glyphicon-search')
            block content
            footer(class='footer')
                div(class='container')
                    h3 Foter
            script(src='/bootstrap/js/jquery.min.js')
            script(src='/bootstrap/js/bootstrap.min.js')