extends layout

block content
    .container-fluid
        h1 Menu Lihat
        .row
            .col-md-4
            .col-md-4
                ul(class="list-group")
                    li(class="list-group-item") Username : #{ users.username }
                    li(class="list-group-item") Email    : #{ users.email }
                    li(class="list-group-item") Alamat   : #{ users.alamat }