extends layout

block content
    .container-fluid
        h1 Menu Lihat
        .row
            .col-md-4
            .col-md-4
                ul
                    li #{ users.username }
                    li #{ users.email }
                    li #{ users.alamat }